<div id="header" class="row small-up-2 large-up-5">
	<div ng-repeat="view in [{name:'Home', icon:'home', site:'#!/home'}, {name:'Philip-blog',icon:'heart',site:'#!/blog'},{name:'Wilson-blog',icon:'heart',site:'#!/blog'}, {name:'Pictures',icon:'heart',site:'#!/blog'}, {name:'Projects',icon:'heart',site:'#!/blog'}]" class="column">
		<div class="expanded button-group">
			<a href="{{view.site}}" id="headerbutton" class="button large">{{view.name}} <i class="fi-{{view.icon}}"></i>   
			</a>
		</div>
	</div>
</div>
